/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

a {
    text-decoration: none;
    color: #333;
}

/* Header Styles */
header {
    background-color: #f8f9fa;
    padding: 10px 0;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

/*
nav {
    float: right;
}


nav a {
    margin-left: 20px;
} 
*/

/* Hero Section Styles */
.hero {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 100px 0;
}

.hero h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
}

.btn {
    display: inline-block;
    background-color: #fff;
    color: #007bff;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 5px;
    text-decoration: none;
}

.btn:hover {
    background-color: #007bff;
    color: #fff;
}

/* Features Section Styles */
.features {
    padding: 80px 0;
    text-align: center;
}

.features h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.feature-item {
    margin-bottom: 40px;
}

.feature-item h3 {
    font-size: 24px;
}

/* Product Section Styles */
.product-item {
    margin-bottom: 40px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.product-item img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 20px;
}

.product-item h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.product-item p {
    font-size: 16px;
    margin-bottom: 10px;
}

.product-item ul {
    list-style-type: disc;
    margin-left: 20px;
    margin-bottom: 10px;
}

.product-item ul li {
    font-size: 16px;
}

.product-item .btn {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

.product-item .btn:hover {
    background-color: #0056b3;
}
